*{
  margin: 0;
  padding: 0;
}

.logo{
  display: flex;
  align-items: baseline;
  background-color: rgb(215, 46, 46);
  justify-content: space-between;
}

h1{
  color: white;
}

.first{
  padding: 2rem;
}

.second >button {
  padding: 1rem;
  font-size: 1rem;
  color: white;
  border: none;
  background-color:rgb(215, 46, 46) ;
  cursor: pointer;
}


.search{
  display: flex;
  background-color: rgb(185, 177, 177);
  justify-content: center;
  padding: 2rem;
}

.search >button{
  color: white;
  background-color:rgb(215, 46, 46) ;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.searching{
  padding: 0.5rem;
  width: 400px;
  max-width: 60%;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./Photo/mover.jpg);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero >h2{
  font-size: 2rem;
  background-color: black;
  color: white;
}

.hero >button{
  color: white;
  background-color: rgb(215, 46, 46);
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.popular{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.movies{
  display: flex;
  overflow-x: scroll;
}

.card{
  border-radius: 10px;
  border: 10px solid rgb(233, 230, 230);
  background-color: rgb(233, 230, 230);
  margin-left: 1rem;
  cursor: pointer;
}

.card >h2{
  text-align: center;
  font-size: 2rem;
}

.img{
  width: 250px;
}

.last{
  padding-top: 2.5rem;
  text-align: center;
}

.img1{
  max-width: 80%;
  border-radius: 10px;
}


/* @media query left */